@if (Model != null)
{
    foreach (var student in Model)
    {
        <tr>
            <td>
                @if (student.IsEnable)
                {
                    <button type="button" class="btn btn-success btn-sm" onclick="toggleEnable('@student.StudentID', false,'@student.DisplayName')"> <i class="btn-success bi bi-power" style="filter: grayscale(100%)"></i></button>
                }
                else
                {
                    <button type="button" class="btn btn-danger btn-sm" onclick="toggleEnable('@student.StudentID', true,'@student.DisplayName')"> <i class="btn-success bi bi-power" style="filter: grayscale(100%)"></i></button>
                }
            </td>
            <td>@student.StudentRegNo</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.DisplayName</td>
            <td>@student.Email</td>
            <td>@student.Gender</td>
            <td>@student.ContactNo</td>
            <td>
                <button type="button" class="btn btn-sm btn-primary edit-btn" id="editBtn_@student.StudentID" onclick="editStudent('@student.StudentID')" disabled><i class="bi bi-pen small-icons"></i></button>
                <button type="button" class="btn btn-sm btn-danger delete-btn" id="deleteBtn_@student.StudentID" onclick="deleteStudent('@student.StudentID',false,'@student.DisplayName')" disabled><i class="bi bi-trash small-icons"></i></button>
                <button type="button" class="btn btn-sm btn-info m-1" onclick="moreDetails('@student.StudentID',false,'@student.DisplayName')"><i class="bi bi-ticket-detailed small-icons"></i></button>
            </td>
        </tr>
        <script>
            //check the student is allocated or not
            $.ajax({
                url: '/Student/IsStudentAllocated',
                type: 'GET',
                data: { studentID: '@student.StudentID' },
                success: function (response) {
                    if (response) {
                        $('#editBtn_@student.StudentID, #deleteBtn_@student.StudentID').hide();
                    }
                    else {
                        //$('#editBtn_@student.StudentID, #deleteBtn_@student.StudentID').prop('disabled', false);
                    }
                }
            });
        </script>
    }
}
else
{
    <tr>
        <td colspan="9">No data found</td>
    </tr>
}
