@model IEnumerable<SMS_ViewModels.Allocation.StudentSubjectAllocationGroupByStudentViewModel>
@if (Model != null && Model.Any())
{

    foreach (var student in Model)
    {
        <tr>
            <td class="align-middle">
                @if (student.IsStudentEnable)
                {
                    <button type="button" class="btn btn-success btn-sm" onclick="toggleEnable('@student.StudentID', false,'@student.StudentName')"> <i class="btn-success bi bi-power" style="filter: grayscale(100%)"></i></button>
                }
                else
                {
                    <button type="button" class="btn btn-danger btn-sm" onclick="toggleEnable('@student.StudentID', true,'@student.StudentName')"> <i class="btn-success bi bi-power" style="filter: grayscale(100%)"></i></button>
                }
            </td>
            <td class="align-middle">
                <p>
                    <strong>@student.StudentName</strong> (Reg No - @student.StudentRegNo)
                </p>
            </td>
            <td colspan="3">
                <table class="table table-bordered border-2 subTable ">
                    <thead>
                        <tr class="sub-table">
                            <th>Teacher</th>
                            <th>Subjects</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @foreach (var teacher in student.TeacherAllocation)
                    {
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <p><strong>@teacher.TeacherName</strong> (Reg No - @teacher.TeacherRegNo)</p>
                                </td>
                                <td class="align-middle">
                                    @foreach (var subject in teacher.SubjectAllocations)
                                    {
                                        <p>
                                            <strong>@subject.SubjectName</strong> (Subject Code - @subject.SubjectCode)
                                        </p>
                                    }
                                </td>
                                <td class="align-middle">
                                    @foreach (var subject in teacher.SubjectAllocations)
                                    {
                                        <p>
                                            <button type="button" class="btn btn-sm btn-danger" onclick="deleteStudentAllocation(@subject.StudentAllocationID)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </p>

                                    }
                                </td>
                            </tr>
                        </tbody>

                    }
                </table>
                <button type="button" class="btn btn-sm btn-outline-danger text-end" onclick="deleteAllStudentAllocation('@student.StudentID','@student.StudentName')">
                    <i class="bi bi-trash"> Delete all allocation</i>
                </button>
            </td>
        </tr>
    }

}
else
{
    <tr>
        <td colspan="3">No student allocation found</td>
    </tr>
}


