@model IEnumerable<SMS_ViewModels.Allocation.SubjectAllocationGroupByTeacherViewModel>

@if (Model != null && Model.Any())
{
    foreach (var teacherAllocation in Model)
    {
        <tr>
            <td class="align-middle">
                <p>
                    <strong>@teacherAllocation.TeacherName</strong> (Reg No - @teacherAllocation.TeacherRegNo)
                </p>
            </td>

            <td>
                @foreach (var subjectAllocation in teacherAllocation.SubjectAllocations)
                {
                    <p>
                        <strong>@subjectAllocation.SubjectName</strong> (Subject Code- @subjectAllocation.SubjectCode)
                    </p>
                }
            </td>
            <td>
                @foreach (var subjectAllocation in teacherAllocation.SubjectAllocations)
                {
                    <p>
                        <button type="button" class="btn btn-sm btn-primary" id="editBtn_@subjectAllocation.SubjectAllocationID" onclick="editSubjectAllocation(@subjectAllocation.SubjectAllocationID)"><i class="bi bi-pen small-icons"></i></button>
                        <button type="button" class="btn btn-sm btn-danger" id="deleteBtn_@subjectAllocation.SubjectAllocationID" onclick="deleteSubjectAllocation(@subjectAllocation.SubjectAllocationID)"><i class="bi bi-trash small-icons"></i></button>
                    </p>
                    <script>
                         $.ajax({
                           //check the subject allocation in use or not
                           url: '/Allocation/IsSubjectAllocationInUse',
                           type: 'GET',
                             data: { subjectAllocationID: '@subjectAllocation.SubjectAllocationID' },
                           success: function (response) {
                               if (response) {
                                   $('#editBtn_@subjectAllocation.SubjectAllocationID, #deleteBtn_@subjectAllocation.SubjectAllocationID').hide();
                               }
                               else
                               {
                                   $('#editBtn_@subjectAllocation.SubjectAllocationID, #deleteBtn_@subjectAllocation.SubjectAllocationID').prop('disabled', false);
                               }
                           }
                       });
                    </script>
                }
            </td>
        </tr>
    }

}
else
{
    <tr>
        <td colspan="3">No data found</td>
    </tr>
}

